*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

button{
  text-align: center;
  padding: 4px;
  border-radius: 20px;
  border-color: brown;
  background-attachment: fixed;
  margin-left: 50px;
  margin-top: 30px;
}
.div1{
  height: 60vh;
  width: 340px;
  background-color: blueviolet;
  margin-left: 230px;
  margin-top: 50px;

  
}
input{
  margin-left: 20px;
  padding: 5px;
}
h1{
  text-align: center;
}
.text{
  text-decoration: none;
}
